*,
*::after*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #343a40;
}

.container {
  width: 100%;
}

.parent {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.toastAlertContainerTag {
    position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #28a745;
  color: #fff;
  padding: 10px 0;
  transition: bottom 1s ease-in-out;
}

.toastAlertTextTag {
}

.btn {
  padding: 6px 15px;
  background-color: #fff;
  color: #28a745;
  border-radius: 5px;
  box-shadow: 0 5px 10px;
  font-weight: bold;
}
